{% extends "!layout.html" %}

{% block extrahead %}
  {{ super() }}
  {% if "Chapter" in pagename %}
    {% set chapter_num = pagename.split('/')[-1].split(' ')[1] %}
    <script type="text/javascript">
      window.MathJax = {
        tex: {
          tags: 'ams',
          useLabelIds: true,
          tagSide: 'right',
          tagIndent: '0em',
          tagFormat: {
            number: function (n) {
              return "{{ chapter_num }}." + n;
            }
          }
        },
        options: {
          enableMenu: false,
          displayAlign: 'right'
        }
      };
    </script>
  {% endif %}
{% endblock %}
