{% extends "!layout.html" %}

{% block extrahead %}
  {{ super() }}

  {% if "Chapter" in pagename %}
    {% set parts = pagename.split('/') %}
    {% set chapter_number = parts[-1].split(' ')[1] %}
    {% set folder_name = parts[-2].replace(' ', '_') %}
    <script type="text/javascript">
      MathJax = {
        tex: {
          tags: 'ams',
          tagSide: 'right',
          tagIndent: '0em',
          useLabelIds: true,
          tagFormat: {
            number: function (n) {
              return "{{ chapter_number }}." + n;
            }
          }
        },
        options: {
          enableMenu: false,
          displayAlign: 'right'
        },
        startup: {
          ready: () => {
            MathJax.startup.defaultReady();
            MathJax.texReset();
            MathJax.tags.reset();
          }
        }
      };
    </script>
  {% endif %}
{% endblock %}
